<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @job.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @job.description %>
</p>

<p>
  <strong>Opening date:</strong>
  <%= @job.opening_date.strftime("%B %e, %Y") %>
</p>

<p>
  <strong>Closing date:</strong>
  <%= @job.closing_date.strftime("%B %e, %Y") %>
</p>

<%= link_to 'Edit', edit_job_path(@job) %> |
<%= link_to 'Back', jobs_path %>
